blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
email_validator==2.2.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
PyMySQL==1.1.1
requests==2.32.3
SQLAlchemy==2.0.32
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
WTForms==3.1.2
cryptography>=3.4.7
numpy==2.1
pandas== 2.2.2
sklearn== 1.5.1
nltk== 3.9.1
surprise== 1.1.0 
matplotlib== 3.9.2
seaborn== 0.13.2
flask_restful== 3.0.3
flask_cors== 4.0.1
flask_marshmallow== 1.2.1

