{% extends "base.html" %}

{% block title %}About Us - ScreenSort{% endblock %}

{% block content %}
    <h2>Welcome to ScreenSort!</h2>
    <p>ScreenSort is a powerful movie recommendation API designed to provide users with personalised film suggestions tailored to their unique tastes. Whether you're a casual viewer or a cinephile, ScreenSort leverages advanced algorithms and data-driven insights to sort through thousands of titles and present curated recommendations based on your viewing history, preferences, and current trends. Seamlessly integrate ScreenSort into your app, website, or service to enhance user experience with dynamic, real-time movie suggestions that cater to every mood and genre. </p>
    <p>Discover your next favorite movie with ScreenSort.</p>
{% endblock %}
