{% extends "base.html" %}

{% block title %}Movies by Genre - ScreenSort{% endblock %}

{% block content %}
    <h1>Movies in the Selected Genre</h1>
    <ul>
        {% if movies %}
            {% for movie in movies %}
                <li>{{ movie['title'] }} ({{ movie['release_date'] }}) - Rating: {{ movie['vote_average'] }}</li>
            {% else %}
                <li>No movies found for this genre.</li>
            {% endfor %}
        {% else %}
            <li>No movies found for this genre.</li>
        {% endif %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
