{% extends "base.html" %}

{% block title %}Movie Recommendations{% endblock %}

{% block content %}
    <h1>Movie Recommendations</h1>
    <ul>
        {% if recommendations %}
            {% for movie in recommendations %}
                <li>{{ movie['title'] }} ({{ movie['release_date'] }})</li>
            {% endfor %}
        {% else %}
            <li>No recommendations found for this movie.</li>
        {% endif %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
